//=================================
//	!---------- FRONT ----------
//=================================

@import "bootstrap/scss/functions";
@import "../../functions";

#plugin-vincod {

	// Overrides
	// -----------------------------------------------------

	$gray-100: #fafafa;
	$gray-200: #e7e7e7;
	$gray-300: #ddd;
	$gray-400: #6f6f6f;
	$gray-500: #555;
	$gray-600: #333;
	$gray-700: #222;

	$primary: $gray-300;
	$secondary: $gray-400;

	$spacer: rem(5);
	$grid-gutter-width: $spacer * 6;

	$line-height-sm: 1.2;
	$font-family-sans-serif: inherit;

	$paragraph-margin-bottom: $spacer * 3;
	$headings-margin-bottom: $paragraph-margin-bottom;

	$component-active-bg: $secondary;
	$border-radius: 0;
	$border-radius-lg: 0;
	$border-radius-sm: 0;

	$link-color: inherit;
	$link-decoration: none;
	$link-hover-color: inherit;

	$input-border-color: $gray-300;
	$input-placeholder-color: $gray-400;

	$breadcrumb-padding-y: $spacer * 2;
	$breadcrumb-padding-x: $spacer * 3;
	$breadcrumb-font-size: rem(12);
	$breadcrumb-bg: $gray-100;
	$breadcrumb-divider-color: $gray-400;
	$breadcrumb-active-color: $gray-400;

	// Imports
	// -----------------------------------------------------
	@import "../../imports";

	// ---------- Global styles ----------

	.vincod-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: auto;
		padding: space(3) 0;
	}

	// ---------- Menu styles ----------

	.menu-container {
		@include column(0, 12, 0);
		@include column(lg, 3, 0);
		margin-bottom: space(3);

		@include media-breakpoint-up(lg) {

			& + .content-container {
				padding-right: 0;
			}
		}

		> .btn {
			display: flex;
			align-items: center;
			padding: 0;
			font-weight: 700;
			text-transform: uppercase;
			text-align: left;
			line-height: 1;

			@include media-breakpoint-up(lg) {
				display: none;
			}

			svg {
				@include size(space(8.5));
			}
		}

		.menu-collapse {

			@include media-breakpoint-up(lg) {
				display: block !important;
				height: auto !important;
				margin: 0;
			}
		}

		.menu-card {
			border: 1px solid $gray-300;
			background-color: $gray-100;

			@include media-breakpoint-down(md) {
				margin-top: space(3);
			}

			.vincod-menu {
				list-style: none;
				padding: 0;
				margin: 0;

				li.active > a, a:hover {
					background-color: $secondary;
					color: $white;
				}

				a {
					display: block;
					padding: space(2) space(3);
					text-transform: capitalize;
				}
			}

			> .vincod-menu > li {

				> ul > li {

					> a {
						padding-left: space(5);
					}

					> ul {
						display: none;
					}

					&.parent > ul, &.active > ul {
						display: block;

						> li {

							> a {
								padding-left: space(7);
							}

							> ul {
								display: none;
							}

							&.parent > ul, &.active > ul {
								display: block;

								> li {

									> a {
										padding-left: space(9);
									}
								}
							}
						}
					}
				}
			}
		}

		.vincod-search-form {

			.form-control, .btn {
				display: flex;
				align-items: center;
				height: auto;
				padding: space(2) space(3);
			}

			.btn {
				color: $gray-400;

				svg {
					@include size(space(4));
				}
			}
		}
	}

	// ---------- Content styles ----------

	.content-container {
		@include column(0, 12, 0);
		@include column(lg);

		@include media-breakpoint-up(lg) {

			&:first-child {
				padding: 0;
			}
		}

		.breadcrumb {
			margin-bottom: space(3);
			border: 1px solid $gray-300;
		}
	}

	.content-panel {
		margin-bottom: space(1);
		border: 1px solid $gray-300;

		.panel-heading {
			height: 300px;
			padding: 0;
			background-color: $gray-100;
			border-bottom: 1px solid $gray-300;

			.content-cover {
				@include size();
				@include background-image(cover);
			}
		}

		.panel-body {
			padding: $grid-gutter-width;
			background-color: $white;
			text-align: center;

			.content-logo {
				@include size(200px);
				display: flex;
				align-items: center;
				justify-content: center;
				margin: -200px auto space(3);
				padding: space(3);
				border: 1px solid $gray-300;
				background-color: $white;
				z-index: 10;

				img {
					display: inline-block;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	&.vincod-search .content-panel .panel-body {
		background-color: $gray-100;
	}

	// ---------- Links styles ----------

	.content-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.collection-link, .brand-link, .range-link {
		@include column(0, 12);
		@include background-image(cover);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50vh;
		margin: space(1.5) auto;
		padding: $grid-gutter-width;

		@include before() {
			@include position();
			position: absolute;
			background-color: rgba($black, .4);
		}

		h2 {
			position: relative;
			display: inline-block;
			margin: 0;
			padding: $grid-gutter-width;
			border: 1px solid $gray-300;
			background-color: rgba($gray-300, .9);
			color: $gray-700;
			font-size: $font-size-base;
			font-weight: $font-weight-base;
			text-transform: uppercase;
			transition: $transition-base;

			&:hover {
				background-color: transparent;
				color: $gray-300;
			}
		}
	}

	.appellations-container {
		@include column(0, 12, 0);

		> .nav {
			max-width: screen(sm);
			margin: $grid-gutter-width auto;
			justify-content: center;

			@include media-breakpoint-up(md) {
				flex-wrap: nowrap;
				max-width: screen(xl);
			}

			a {
				padding: space(3);
				text-transform: uppercase;
				line-height: $line-height-sm;
				font-size: $font-size-sm;

				@include media-breakpoint-down(sm) {
					width: 100%;
				}
			}
		}

		.products {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
	}

	.product-link {
		@include margin-vertical($grid-gutter-width);
		@include column(0, 12);
		@include column(sm, 6);
		@include column(xl, 4);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		img, svg {
			max-height: 400px;
			margin: 0 auto $grid-gutter-width;
		}

		h2 {
			display: inline-block;
			padding: $grid-gutter-width;
			border: 1px solid $gray-300;
			background-color: $gray-100;
			color: inherit;
			font-size: $font-size-base;
			font-weight: $font-weight-base;
			text-transform: uppercase;
			transition: $transition-base;

			&:hover {
				background-color: $gray-500;
				color: $white;
			}
		}
	}

	.labels-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: screen(md);
		margin: space(3) auto;
		text-align: center;

		.vincod-label {
			@include column(0, 12);
			@include column(md, 3);
			padding: space(3);
		}
	}

	// ---------- Single Product styles ----------

	.product-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.product-media {
		@include column(0, 12);
		@include column(lg, 5);
		text-align: center;

		.product-image {
			margin-bottom: $grid-gutter-width;

			img, svg {
				margin: auto;
				max-height: 600px;

				@include media-breakpoint-down(sm) {
					max-height: 480px;
				}
			}
		}

		.product-medias {
			margin-bottom: $grid-gutter-width;

			h2 {
				margin: 0;
				font-size: $font-size-base;
				font-weight: $font-weight-bold;
				line-height: $line-height-base;
				text-transform: uppercase;
			}
		}
	}

	.product-content {
		@include column(0, 12);
		@include column(lg, 7, 0);

		.product-name {
			margin-bottom: $grid-gutter-width;

			@include media-breakpoint-down(xl) {
				text-align: center;
				width: 100%;
			}

			.dropdown {

				.btn {
					display: block;
					width: 100%;
					padding: 0;
					border: none;
				}

				h1 {
					display: flex;
					margin: 0;
					background-color: $gray-100;
					border: 1px solid $gray-300;
					font-size: $font-size-base;
					font-weight: $font-weight-base;
					text-transform: uppercase;
					white-space: normal;

					@include media-breakpoint-down(sm) {
						flex-direction: column;
					}
				}

				.vintage-name {
					display: block;
					padding: $grid-gutter-width;
					text-align: left;
					flex-grow: 1;

					@include media-breakpoint-down(sm) {
						width: 100%;
						text-align: center;
					}
				}

				.vintage-year {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 100px;
					padding: space(4) $grid-gutter-width space(2);
					border-left: 1px solid $gray-300;

					svg {
						@include size(space(4));
					}

					@include media-breakpoint-down(sm) {
						width: 100%;
						border-left: none;
						border-top: 1px solid $gray-300;
					}
				}

				.dropdown-menu {
					width: 101px;
					border-color: $gray-300;
					background-color: $gray-100;
					text-align: center;

					@include media-breakpoint-down(sm) {
						width: 100%;
					}

					.dropdown-item {
						@include padding-vertical(space());

						&.current {
							pointer-events: none;
							font-weight: $font-weight-bold;
						}

						&:hover {
							background-color: $gray-200;
						}
					}
				}
			}
		}

		.product-abstract {
			margin-bottom: $grid-gutter-width;
		}

		.nav-pills, .nav-tabs {
			margin-bottom: $grid-gutter-width;

			a {
				padding: space(3) space(2);
				text-transform: uppercase;

				@include media-breakpoint-down(sm) {
					width: 100%;
				}

				h2 {
					margin: 0;
					font-size: $font-size-sm;
					font-weight: $font-weight-base;
				}
			}
		}

		.product-review {
			margin-bottom: space(3);
			display: flex;
			align-items: center;

			img {
				max-width: space(15);
				margin-right: space(3);
			}
		}

		.shop-link {
			display: inline-flex;
			align-items: center;

			svg {
				@include size(space(4));
			}
		}
	}
}
