// Icons
// -----------------------------------------------------
@import "ionicons/scss/ionicons";

//=================================
//	!---------- FRONT ----------
//=================================

#plugin-vincod {

	// Overrides
	// -----------------------------------------------------
	$gray-light: #ddd;
	$link-color: inherit !global;
	$link-hover-color: inherit !global;
	$link-hover-decoration: none !global;
	$font-family-sans-serif: inherit !global;
	$font-family-serif: inherit !global;
	$font-size-base: 16px !global;

	// Imports
	// -----------------------------------------------------
	@import "bootswatch/yeti/variables";
	@import "imports";
	@import "bootswatch/yeti/bootswatch";

	// ---------- Global styles ----------

	a, button {
		transition: all .5s ease;
	}

	%cover-bg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	%contain-bg {
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.vincod-container {
		max-width: 1600px;
		margin: auto;
		padding: #{$grid-gutter-width / 2} 0;
	}

	ul, ol, li {
		margin: 0;
	}

	// ---------- Menu styles ----------

	.menu-container {
		padding: 0;

		@media #{$md-min} {
			padding: 0 0 20px;
		}

		> .btn {
			padding: 0 10px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: left;
			line-height: 1;

			i {
				font-size: 40px;
				vertical-align: middle;
				margin-right: 10px;
			}

			span {
				vertical-align: middle;
			}
		}

		.menu-collapse {

			@media #{$md-min} {
				display: block !important;
				height: auto !important;
				margin: 0;
			}
		}

		.vincod-menu {
			list-style: none;
			padding: 0;
			margin: 0;

			li.active > a, a:hover {
				background-color: $gray;
				color: white;
			}
		}

		a {
			display: block;
			padding: 8px 15px;
			text-transform: capitalize;
		}

		.menu-well {
			margin: 0;
			border-color: $gray-light;

			@media #{$md-max} {
				margin-top: 20px;
			}

			> .vincod-menu > li {

				> ul > li {

					> a {
						padding-left: 25px;
					}

					> ul {
						display: none;
					}

					&.parent > ul, &.active > ul {
						display: block;

						> li {

							> a {
								padding-left: 40px;
							}

							> ul {
								display: none;
							}

							&.parent > ul, &.active > ul {
								display: block;

								> li {

									> a {
										padding-left: 55px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// ---------- Content styles ----------

	.content-container {
		max-width: $screen-lg;
		margin: #{$grid-gutter-width / 2} auto;
		padding: 0;

		@media #{$md-min} {
			padding: 0 0 0 #{$grid-gutter-width / 2};
			margin: auto;
		}

		.breadcrumb {
			margin-bottom: #{$grid-gutter-width / 2};
			background-color: $well-bg;
			border-radius: 0;
			font-size: $font-size-small;

			li.active a {
				color: $gray;
			}
		}
	}

	.content-panel {
		margin-bottom: #{$grid-gutter-width / 2};

		.panel-heading {
			height: 300px;
			padding: 0;
			background-color: $well-bg;

			.content-cover {
				height: 100%;
				@extend %cover-bg;
			}
		}

		.panel-body {
			background-color: white;
			text-align: center;
			padding-bottom: 30px;

			.content-logo {
				display: inline-block;
				width: 200px;
				height: 200px;
				margin-top: -200px;
				border: 1px solid $gray-light;
				z-index: 10;
				background-color: white;
				@extend %contain-bg;
			}
		}
	}

	&.vincod-search .content-panel .panel-body {
		background-color: $well-bg;
	}

	// ---------- Links styles ----------

	.content-links {
		text-align: center;

		a {
			box-shadow: none !important;
		}
	}

	.collection-link, .brand-link, .range-link {
		height: 50vh;
		margin: #{$grid-gutter-width / 2} auto;
		padding: 0;
		text-align: center;
		@extend %cover-bg;

		.block {
			background-color: fade_out($gray-base, .6);
		}

		h2 {
			display: inline-block;
			margin: 5px #{$grid-gutter-width / 2};
			padding: 30px;
			border: 1px solid $gray-lighter;
			background-color: fade_out($gray-lighter, .1);
			color: $gray-dark;
			font-size: $font-size-base;
			text-transform: uppercase;
			transition: all .5s ease;

			&:hover {
				background-color: transparent;
				color: $gray-lighter;
			}
		}
	}

	.product-link {
		margin-top: 30px;
		margin-bottom: 30px;
		vertical-align: top;
		text-align: center;

		img {
			max-height: 400px;
			margin: auto;
		}

		h2 {
			display: inline-block;
			padding: 30px;
			border: 1px solid $gray-light;
			background-color: $well-bg;
			color: inherit;
			font-size: $font-size-base;
			text-align: center;
			text-transform: uppercase;
			transition: all .5s ease;

			&:hover {
				background-color: $gray;
				color: white;
			}
		}
	}

	// ---------- Single Product styles ----------

	.product-image {
		margin-bottom: 30px;

		img {
			margin: auto;
			max-height: 600px;

			@media #{$sm-max} {
				max-height: 300px;
			}
		}
	}

	.product-medias {
		text-align: center;
		margin-bottom: 30px;

		h2 {
			margin: 0;
			font-size: $font-size-base;
			font-weight: bold;
			line-height: $line-height-base;
			text-transform: uppercase;
		}
	}

	.product-name {
		margin-bottom: 30px;

		@media #{$md-max} {
			text-align: center;
			width: 100%;
		}

		.vintage-btn-group {
			display: block;

			.btn {
				display: block;
				width: 100%;
				height: auto;
				padding: 0;
				white-space: normal;
				background-color: $well-bg;
				border-color: $gray-light;

				&.no-vintage {
					cursor: default;
				}

				&:after {
					display: none;
				}
			}

			h1 {
				font-size: $font-size-base;
				margin: 0;
				text-transform: uppercase;
			}

			.vintage-name {
				@extend .col-centered;
				width: calc(100% - 100px);
				padding: 30px;
				text-align: left;
				border-right: 1px solid $gray-light;

				&.full-width {
					width: 100%;
					border-right: none;
					margin: 0;

					@media #{$sm-max} {
						border-bottom: none;
					}
				}

				@media #{$sm-max} {
					display: block;
					width: 100%;
					border-right: none;
					border-bottom: 1px solid $gray-light;
					text-align: center;
				}
			}

			.vintage-year {
				@extend .col-centered;
				width: 100px;
				padding: 20px 30px 0;

				i {
					display: block;
					font-size: 25px;
					line-height: 1;
				}
			}

			.dropdown-menu {
				left: auto;
				right: 0;
				margin: -1px 0 0;
				min-width: 100px;
				border-color: $gray-light;
				background-color: $well-bg;

				@media #{$sm-max} {
					width: 100%;
				}

				> li {

					a, strong {
						display: block;
						padding: 10px 20px;
						clear: both;
						font-size: 15px;
						line-height: $line-height-computed;
						white-space: normal;
						text-align: center;
					}
				}
			}
		}
	}

	.product-abstract {
		margin-bottom: 40px;
	}

	.nav-pills, .nav-tabs {
		margin-bottom: 30px;

		@media #{$sm-max} {
			border-color: transparent;

			> li {
				float: none;
				margin: 0;

				a {
					border-color: transparent;
				}

				&.active a {
					border-color: $gray-light;
				}
			}
		}

		a {
			padding: 15px;
			text-transform: uppercase;
			box-shadow: none !important;

			@media #{$sm-max} {
				border-color: $gray-light !important;
			}

			h2 {
				margin: 0;
				font-size: $font-size-small;
				color: $gray-dark;

				@media #{$sm-max} {
					font-size: $font-size-base;
				}
			}
		}
	}

	.product-review {
		margin-bottom: 30px;

		img {
			margin-top: 5px;
			margin-right: 10px;

			& + span {
				margin-top: 15px;
			}
		}
	}
}
