/**
 * Vincod Wordpress Plugin
 *
 * The CSS layouts about our plugin
 *
 * @package		Vincod Layout
 * @author		Laurent SCHAFFNER / Jérémie GES
 * @copyright	2013
 * @link		http://www.vincod.com/
 * @since		Version 0.0.1
 */


/* Table of Content
==================================================
	#Global Html
		- All about html entities
	#Site Styles
		- All website's components
	*/

/* #Global Html
================================================== */

body {
	background-color: RGB(241,241,241);
	font-family: "Open Sans",sans-serif !important;
}

/* Homemade Framework */
.btn-spacer { margin-left : 2em; display : inline-block; }

.pspacer-right { padding-right : 2em; }

.pspacer-big { padding-top : 3em; }
.pspacer-medium { padding-top : 1em; }
.pspacer-little { padding-top : 0.5em; }
.pspacer { padding-top : 2em; }

.tleft { text-align : left; }
.tcenter { text-align : center; }
.tright { text-align : right; }
.tcomment { font-style: italic; }

/* Devlogs styles */

.devlog { background-color : #191818; color : #f3f3f3; font-family: Arial; font-weight: 300; margin-bottom: 0.3em}
	.scroll { overflow : scroll; height : 10em; }
	.auto { overflow: auto }
.devlog_content .title { font-size : 12px; }
.devlog_content { padding : 1em; letter-spacing: 1.2px; font-size : 11px; line-height: 20px}
.devlog_content .time { display: inline-block; width: 20%; float : left; }
.devlog_content .time span { font-style: italic  }
.devlog_content .msg { float : left; width : 80%; color : #d5d5d5;}
.devlog_content .msg:hover { color : #f3f3f3 !important; }

/* Here you can add many colors to color lines of devlog */
.default { color : #d5d5d5 !important; }
.blue { color : #3498DB !important; }
.yellow { color : yellow !important; }
.red { color : red !important; }
.green { color : green !important; }
.arg { font-weight: bold !important; }

/* Bootstrap hook */

.alert-default {

  border-color: #ececec;

}

/* Fix bug WP/Bootstrap */
#adminmenuback { z-index : 0 !important; }

/* #Page Styles
================================================== */

	/* @Summary
	================================================== 
	1. Dashboard (Panel d'administration)
	*/


	/* 1. Dashboard
	-------------------------------------------------- */

	/* Nothing yet */
