/**
 * Vincod Wordpress Plugin
 *
 * The CSS layouts about the "Nos Vins" template
 *
 * @package		Vincod Layout
 * @author		Jérémie GES
 * @copyright	2013
 * @link		http://www.vincod.com/
 */


/* Table of Content
==================================================
	#Global Html
		- All about html entities
	#Page Styles
	*/

/* #Global Html
================================================== */

/* #Page Styles
================================================== */

	/* @Summary
	================================================== 
	1. Template
	*/


	/* 1. Template
	-------------------------------------------------- */
	.plugin-vincod .fleft { float : left; }
	.plugin-vincod .fright { float : right; }
	.plugin-vincod .w50 { width : 50%; }
	.plugin-vincod .spacer { margin-top : 2em; }
	.plugin-vincod .clear { clear: both }

	.plugin-vincod .button-vincod {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
		border: 1px solid #aaa;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: #444;
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		text-decoration: none;
		text-shadow: 0 1px rgba(255, 255, 255, .75);
		cursor: pointer;
		margin-bottom: 20px;
		line-height: normal;
		padding: 8px 10px;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	}

	.plugin-vincod .button-vincod:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
		border: 1px solid #888;
		border-top: 1px solid #aaa;
		border-left: 1px solid #aaa; 
	}

	.plugin-vincod .button-vincod:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ 
	}

	.plugin-vincod p { text-align: justify }

	.plugin-vincod hr { display : block; margin-top : 2em; margin-bottom: 2em }

	.plugin-vincod div.widgets {
		background-color: #dfd7ca;
		border-top: 1px solid #dcd3c5;
		margin-top: 15px;
		margin-left: 0;
		padding: 9px 0 10px;
	}
	.plugin-vincod div.widgets ul {

		list-style: none;

	}

	.plugin-vincod div.widgets ul li {  margin-right : 0.5em; margin-left: 0.5em; display : inline-block; }
	.plugin-vincod div.widgets ul li a { color: #4A4542; text-decoration: none; vertical-align: top}
	.plugin-vincod div.widgets ul li a:hover { border : none;}
	.plugin-vincod div.widgets .bordered {  }