//=================================
//	!---------- FRONT ----------
//=================================

html {
	font-size: 10px;
}

#plugin-vincod {

	// Overrides
	// -----------------------------------------------------

	$gray-100: #fafafa;
	$gray-200: #e7e7e7;
	$gray-300: #bbb;
	$gray-400: #6f6f6f;
	$gray-500: #555;
	$gray-600: #333;
	$gray-700: #222;

	$primary: $gray-300;
	$secondary: $gray-400;

	$font-family-sans-serif: inherit;
	$font-size-base: 1.6rem;

	$component-active-bg: $secondary;
	$border-radius: 0;
	$border-radius-lg: 0;
	$border-radius-sm: 0;

	$link-color: inherit;
	$link-hover-color: inherit;
	$link-hover-decoration: none;

	$input-border-color: $primary;
	$input-placeholder-color: $primary;

	$breadcrumb-font-size: 1.4rem;
	$breadcrumb-bg: transparent;
	$breadcrumb-divider-color: $primary;
	$breadcrumb-active-color: $primary;

	// Imports
	// -----------------------------------------------------
	@import "../imports";

	// ---------- Global styles ----------

	.vincod-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: auto;
		padding: $grid-gutter-width/2 0;
	}

	// ---------- Menu styles ----------

	.menu-container {
		@include column(0, 12, 0);
		@include column(lg, 3, 0);
		margin-bottom: $grid-gutter-width/2;

		@include media-breakpoint-up(lg) {

			& + .content-container {
				padding-right: 0;

				.product-wrapper {
					padding-right: 25%;
				}
			}
		}

		> .btn {
			display: flex;
			align-items: center;
			padding: 0;
			font-weight: 700;
			text-transform: uppercase;
			text-align: left;
			line-height: 1;

			@include media-breakpoint-up(lg) {
				display: none;
			}

			svg {
				@include size(43px);
			}
		}

		.menu-collapse {

			@include media-breakpoint-up(lg) {
				display: block !important;
				height: auto !important;
				margin: 0;
			}
		}

		.menu-card {
			margin-bottom: $grid-gutter-width/2;

			@include media-breakpoint-down(md) {
				margin-top: $grid-gutter-width/2;
			}

			.vincod-menu {
				list-style: none;
				padding: 0;
				margin: 0;

				li.active > a, a:hover {
					color: $primary;
				}

				a {
					display: block;
					padding: $grid-gutter-width/4 $grid-gutter-width/2;
					text-transform: capitalize;
				}
			}

			> .vincod-menu > li {

				> ul > li {

					> a {
						padding-left: 25px;
					}

					> ul {
						display: none;
					}

					&.parent > ul, &.active > ul {
						display: block;

						> li {

							> a {
								padding-left: 35px;
							}

							> ul {
								display: none;
							}

							&.parent > ul, &.active > ul {
								display: block;

								> li {

									> a {
										padding-left: 45px;
									}
								}
							}
						}
					}
				}
			}
		}

		.vincod-search-form {

			.form-control, .btn {
				display: flex;
				align-items: center;
				height: auto;
				padding: 1rem 1.6rem;
			}

			.btn {
				color: $gray-400;

				svg {
					@include size(20px);
				}
			}
		}
	}

	// ---------- Content styles ----------

	.content-container {
		@include column(0, 12, 0);
		@include column(lg);

		@include media-breakpoint-up(lg) {

			&:first-child {
				padding: 0;
			}
		}

		.breadcrumb {
			margin-bottom: $grid-gutter-width;
			padding: 0;
		}
	}

	.content-panel {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: screen(xl);
		margin: 0 auto $grid-gutter-width;
		text-align: center;

		.content-logo, .content-presentation {
			@include column(0, 12, 0);
			@include column(md, 6, $grid-gutter-width);
		}

		.content-logo {
			margin-bottom: $grid-gutter-width/2;

			&:last-child {
				@include column(md, 12, $grid-gutter-width);
				margin-bottom: 0;
			}

			h1 {
				font-weight: $font-weight-bold;
			}

			@include media-breakpoint-up(md) {

				&:not(:last-child) {
					text-align: right;
				}
			}
		}

		.content-presentation {
			margin-bottom: $grid-gutter-width/2;

			@include media-breakpoint-up(md) {
				text-align: left;
			}
		}
	}

	// ---------- Links styles ----------

	.content-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.collection-link, .brand-link, .range-link {
		@include column(0, 12);
		@include background-image(cover);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 75vh;
		margin: $grid-gutter-width/4 auto;
		padding: $grid-gutter-width*2;
		border: 1px solid $gray-200;
		text-align: center;

		h2 {
			margin-bottom: $grid-gutter-width/2;
			font-size: 4rem;
			font-weight: $font-weight-bold;
		}

		img {
			display: inline-block;
			width: 320px;
			max-width: 100%;
			margin-bottom: $grid-gutter-width;
		}

		.presentation {
			max-width: 1200px;
		}

		.btn {
			@include button($gray-600, true);
			margin-top: $grid-gutter-width;
			padding: 2rem 5rem;
			text-transform: uppercase;
		}

		&.has-image {
			color: rgba($white, .8);

			@include before() {
				@include position();
				position: absolute;
				background-color: rgba($black, .3);
			}

			> * {
				position: relative;
			}

			.btn {
				@include button(rgba($white, .8), true);
				padding: 2rem 5rem;
			}
		}
	}

	.product-link {
		@include margin-vertical($grid-gutter-width);
		@include column(0, 12);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;

		@include media-breakpoint-up(md) {

			&:nth-child(odd) {
				flex-direction: row-reverse;
			}
		}

		.bottle, .description {
			@include column(0, 12);
			@include column(md, 6);
			max-width: 625px !important;
		}

		.bottle {

			img {
				max-height: 480px;
				margin: 0 auto $grid-gutter-width;

				@include media-breakpoint-up(lg) {
					max-height: 640px;
				}
			}
		}

		.description {
			text-align: left;

			&-content {
				max-width: 480px;
				margin: auto;

				h2, .presentation {
					margin-bottom: $grid-gutter-width;
				}

				.btn {
					@include button($gray-600, true);
					padding: 2rem 5rem;
					text-transform: uppercase;
				}
			}
		}
	}

	// ---------- Single Product styles ----------

	.product-media {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: screen(xl);
		margin: 0 auto $grid-gutter-width;

		.product-image {
			@include column(0, 12);
			@include column(md, 6);
			margin-bottom: $grid-gutter-width;
			text-align: center;

			img {
				margin: auto;
				max-height: 600px;

				@include media-breakpoint-down(sm) {
					max-height: 480px;
				}
			}
		}

		.product-description {
			@include column(0, 12);
			@include column(md, 6);

			.description {
				max-width: 480px;
				margin: auto;
			}

			h1, .product-abstract, .dropdown {
				margin-bottom: $grid-gutter-width;
			}

			.dropdown {
				display: inline-block;

				.btn {
					padding: 1rem 1rem 1rem 1.6rem;
					line-height: 1.8;
					text-transform: uppercase;
					font-size: $font-size-base;

					&.btn-lg {
						padding: 2rem 5rem;

						&:after {
							display: none;
						}
					}
				}

				&-menu {
					min-width: 0;
					width: 100%;
					text-align: center;

					.dropdown-item {
						@include padding-vertical(.5rem);

						&.current {
							pointer-events: none;
							font-weight: $font-weight-bold;
						}

						&:hover {
							background-color: $gray-200;
						}
					}
				}
			}
		}
	}

	.product-content {
		max-width: screen(md);
		margin: auto;
		padding: 0 $grid-gutter-width/2;

		h2 {
			margin-bottom: $grid-gutter-width/2;
		}

		.field {
			margin-bottom: $grid-gutter-width;
		}

		.product-review {
			margin-bottom: $grid-gutter-width/2;
			display: flex;
			align-items: center;

			img {
				max-width: $grid-gutter-width*2.5;
				margin-right: $grid-gutter-width/2;
			}
		}
	}
}
